/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
	padding: 4rem 0;
	flex: 1;
	text-align: center;
	position: relative;
	overflow: hidden;
}

[data-theme="dark"] .heroBanner {
	background-color: #111;
	color: #fff;
}

[data-theme="light"] .heroBanner {
	background-color: #7499ff;
	color: #fff;
}

@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 2rem;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}